@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;500;600;800;1000&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,300;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
    background-color: #cccccc69;
    padding: 20px;
    border-radius: 15px;
}
.form .input {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid transparent;
}
.form .add {
    padding: 10px;
    border-radius: 10px;
    background-color: orangered;
    color: #fff;
    border: 1px solid transparent;
    font-family: 'Lora', serif;
}
.tasks {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 30px 10px;
    border-radius: 10px;
}
.tasks div {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lora', serif;
}
.delete-task{
    background-color: red;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}